
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

.badge-pet {
    display: inline-block;
    background-color: #EED7C5;
}

.name-pet {
    color: #A96D61;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.image-pet {
    width: 300px;
    border: 4px solid #A96D61;
}